# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/client/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/client/.env
/server/.env

# Firebase
.firebase/
firebase-debug.log
.firebaserc
firebase-debug.*.log
ui-debug.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Firebase service account
**/firebase-service-account.json
